.Home {
  text-align: center;
  display: flex;
  gap: 50px;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-image: url('../../images/abstract img.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10% 10%;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.slider-container {
  width: 50%;
  margin: auto;
}

.slick-slide {
  height: 550px;
  border: none;
  user-select: none;
}

.slick-slide:focus {
  outline: none;
}

.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-container {
  width: 50%;
  color: var(--primary-color);
  text-align: end;
}

.info-container h1 {
  font-size: 48px;
}

.info-container p {
  font-size: 36px;
  font-weight: 300;
}

.highlight {
  display: inline-block;
  position: relative;
  color: var(--primary-active-color);
  overflow: hidden;
}

.highlight::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 110%;
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(-100%) skewX(30deg);
  transition: transform 2s ease;
  z-index: 1;
  pointer-events: none;
}

.animate::before {
  transform: translateX(100%) skewX(30deg);
}

/* about us && our teams */
.about-us {
  margin-top: 50px;
}
.about-us .container {
  display: flex;
  flex-direction: column;
}

.about-us .container .main-title {
  font-size: 48px;
  padding-left: 20px;
  border-left: 5px solid var(--secondary-active-color);
  border-radius: 5px 50% 50% 5px;
  text-align: start;
}

.about-us .container .about {
  text-align: start;
  display: flex;
  align-items: center;
}

.about-us .container .about p {
  color: var(--primary-color);
  line-height: 30px;
  letter-spacing: 0.7px;
  font-size: 16px;
}

.about-us .container .about span {
  color: var(--primary-active-color);
}

/* contact */
.Contact {
  margin-bottom: 100px;
}

.Contact .container .main-title {
  font-size: 48px;
  padding-left: 20px;
  border-left: 5px solid var(--secondary-active-color);
  border-radius: 5px 50% 50% 5px;
  text-align: start;
  margin-top: 50px;
}

.Contact .container .about {
  width: 100%;
  height: 200px;
  background-image: url('../../images/service image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 50px 0;
  filter: saturate(0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contact .container .about h1 {
  font-weight: 400;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.511);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  justify-content: space-between;
}

.contact-info .details {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.contact-info .details .item {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #616161;
}

.contact-info .details .item .icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #616161;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.contact-info .details .item .icon i {
  color: var(--secondary-active-color);
  font-size: 18px;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .slider-container,
  .info-container {
    width: 100%;
  }
}