@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
  --primary-color: #fff;
  --primary-active-color: #FFA500;
  --secondary-active-color: #00ff00;
  --secondary-color: #000;
  --primary-background-color: #191919;
  --secondary-background-color: #272727;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  min-width: 320px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
